<div aria-labelledby="ui-id-4" aria-describedby="dialog" role="dialog"
	tabindex="-1"
	class="setting-board ui-dialog ui-widget ui-widget-content">

	<div
		class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
		<span class="ui-dialog-title" id="ui-id-4">
            <span id="staticip_title"></span>
        </span>
	</div>
	<div
		style="display: block; width: auto; min-height: 26px; max-height: none; height: auto;"
		id="dialog" class="hide ui-dialog-content ui-widget-content">
		<form id="static_ip-form" class="form-horizontal"
			action="/handle/static_ip">
	
	<div class="form-row">
		<label for="static_ip-iface"><i class="icon-tag"></i>
			<span id="staticip_interface"></span>
        </label>
        <select id="static_ip-iface-input" name="iface">
			<option value="eth0" id="staticip_ethernet"></option>
			<option value="wlan0" id="staticip_wifi"></option>
		</select>
	</div>
	<div class="form-row">
		<label for="static_ip-type-input"><i class="icon-tag"></i>
			<span id="staticip_type"></span>
        </label>
        <select id="static_ip-type-input" name="type">
			<option value="static" id="staticip_static"></option>
			<option value="dynamic" id="staticip_dynamic"></option>
		</select>
	</div>
	<div class="form-row static-properties">
		<label for="static_ip-ip">
			<i class="icon-tag"></i>
            <span id="staticip_ip"></span>
		</label>
		<input id="static_ip-ip" type="text" name="ip">
	</div>
	<div class="form-row static-properties">
		<label for="static_ip-netmask">
			<i class="icon-tag"></i>
            <span id="staticip_netmask"></span>
		</label>
		<input id="static_ip-netmask" type="text" name="netmask">
	</div>
	<div class="form-row static-properties">
		<label for="static_ip-gateway">
			<i class="icon-tag"></i>
            <span id="staticip_gateway"></span>
		</label>
		<input id="static_ip-gateway" type="text" name="gateway">
	</div>
			<div class="form-tips note"></div>
		</form>
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset">
			<button aria-disabled="false" role="button"
				class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
				type="submit" form="static_ip-form">
				<span class="ui-button-text">OK</span>
			</button>
		</div>
	</div>
</div>

<script>
    $("#staticip_title").html(RED._("settings.staticip.title"));
    $("#staticip_interface").html(RED._("settings.staticip.interface.label"));
    $("#staticip_ethernet").html(RED._("settings.staticip.interface.ethernet"));
    $("#staticip_wifi").html(RED._("settings.staticip.interface.wifi"));
    $("#staticip_type").html(RED._("settings.staticip.type.label"));
    $("#staticip_dynamic").html(RED._("settings.staticip.type.dynamic"));
    $("#staticip_static").html(RED._("settings.staticip.type.static"));
    $("#staticip_ip").html(RED._("settings.staticip.ip"));
    $("#staticip_netmask").html(RED._("settings.staticip.netmask"));
    $("#staticip_gateway").html(RED._("settings.staticip.gateway"));
    
    $("#static_ip-form").ready(function() {
        var eth  = "<%- eth %>";
        if(eth === "dynamic"){
            $(".static-properties").hide();
            $('#static_ip-type-input option[value="dynamic"]').prop("selected", true);
//            $("#static_ip-ip,#static_ip-netmask,#static_ip-gateway").attr("readonly", true);
        }
        if(eth === "static") { 
            $(".static-properties").show();
            $('#static_ip-type-input option[value="static"]').prop("selected", true);
//            $("#static_ip-ip,#static_ip-netmask,#static_ip-gateway").attr("readonly", false);
        }
        
        $("#static_ip-ip").attr("value", "<%- ethaddress %>");
        $("#static_ip-netmask").attr("value", "<%- ethnetmask %>");
        $("#static_ip-gateway").attr("value", "<%- ethgateway %>");
    });
    
    $("#static_ip-iface-input").change(function(){
        var val = $(this).val();
        var wifi = "<%- wifi %>";
        var eth  = "<%- eth %>";
        
        if(val === "eth0"){
            if(eth === "dynamic"){ 
                $(".static-properties").hide();
                $('#static_ip-type-input option[value="dynamic"]').prop("selected", true);
//                $("#static_ip-ip,#static_ip-netmask,#static_ip-gateway").attr("readonly", true);
            }
            if(eth === "static"){ 
                $(".static-properties").show();
                $('#static_ip-type-input option[value="static"]').prop("selected", true);
//                $("#static_ip-ip,#static_ip-netmask,#static_ip-gateway").attr("readonly", false);
            }
            $("#static_ip-ip").attr("value", "<%- ethaddress %>");
            $("#static_ip-netmask").attr("value", "<%- ethnetmask %>");
            $("#static_ip-gateway").attr("value", "<%- ethgateway %>");
        } else {
            if(wifi === "dynamic"){ 
                $(".static-properties").hide();
                $('#static_ip-type-input option[value="dynamic"]').prop("selected", true);
//                $("#static_ip-ip,#static_ip-netmask,#static_ip-gateway").attr("readonly", true);
            }
            if(wifi === "static"){ 
                $(".static-properties").show();
                $('#static_ip-type-input option[value="static"]').prop("selected", true);
//                $("#static_ip-ip,#static_ip-netmask,#static_ip-gateway").attr("readonly", false);
            }
            $("#static_ip-ip").attr("value", "<%- wifiaddress %>");
            $("#static_ip-netmask").attr("value", "<%- wifinetmask %>");
            $("#static_ip-gateway").attr("value", "<%- wifigateway %>");
        }
    });
    
    $("#static_ip-type-input").change(function(){
        var val = $(this).val();

        if(val === "dynamic"){
            $(".static-properties").hide();
//            $("#static_ip-ip,#static_ip-netmask,#static_ip-gateway").attr("readonly", true);
        }
        else {
            $(".static-properties").show();
//            $("#static_ip-ip,#static_ip-netmask,#static_ip-gateway").attr("readonly", false);
        }
    });

	$('#static_ip-form').submit(function(event){
        var $this = $(this);

        event.preventDefault();
        $('input[name="usingAJAX"]',this).val( 'true' );
        var url = $this.attr('action');
        var dataToSend = $this.serialize();
        var callback = function(dataReceived){
            RED.notify(dataReceived,"success");
        };
        var typeOfDataToReceive = 'html';
        $.get( url, dataToSend, callback, typeOfDataToReceive )
    });
</script>
